<div id="admin_messages">
  <!--<p>-->
    <!--<a href="<%= new_admin_message_path %>" class="btn btn-success btn-sm">-->
      <!--<su-icon icon="plus" color="#fff" fix-width></su-icon>æ–°å¢-->
    <!--</a>-->
  <!--</p>-->
  <%= grid(@messages, show_filters: :when_filtered) do |g|
    #g.action_column param_name: :select_ids, object_property: :id
    g.column name: "<i class='fa fa-asterisk fa-fw'></i>#{t 'activerecord.attributes.defaults.id'}", attribute: 'id', filter: false, ordering: true
            g.column name: "#{t 'activerecord.attributes.message.m_title'}", attribute: 'm_title'
            g.column name: "#{t 'activerecord.attributes.message.m_content'}", attribute: 'm_content'
            g.column name: "#{t 'activerecord.attributes.message.n_type'}", attribute: 'n_type'
            g.column name: "#{t 'activerecord.attributes.message.m_tags'}", attribute: 'm_tags'

    # g.column do |c|
    #   grid_operator(:admin_message_path, c.id)
    # end
  end %>
</div>
<script type="text/javascript" data-turbolinks-eval="true">
  new Vue({
    el: "#admin_messages"
  })
</script>