<div class="su-ui">
  <su-form>

    <div class="clearfix form-actions">
      <%= render partial: 'shared/form/show_actions', locals: {path: :reset_password_path, model: @reset_password} %>
    </div>
  </su-form>
</div>